* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
    list-style: none;
}

.cabecalho {
    max-width: 80vw;
    margin: 40px auto;
    padding: 16px 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(229, 231, 235, 1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-links a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

.menu-links a:hover {
    color: #7AB928;
}

.botao-contato {
    font-weight: bold;
    background-color: #7AB928;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-contato:hover {
    background-color: #8FD82F;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logo {
    height: 50px;
}

.burguer {
    background-color: #7AB928;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.burguer-content {
    display: none;
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.mobile-menu.active {
    max-height: 400px;
}

.mobile-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.mobile-nav a {
    color: rgb(55, 65, 81);
    text-decoration: none;
    transition: color 0.2s;
}

.mobile-nav a:hover {
    color: #7AB928;
}

.botao-contato.mobile {
    width: 100%;
}

@media (max-width: 999px) {
    .cabecalho {
        max-width: 80vw;
    }

    .burguer-content {
        display: block;
    }

    .menu-links {
        display: none;
    }

    .botao-contato {
        display: none;
    }

    .botao-contato.mobile {
        display: block;
    }

}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 1rem;
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shapes-animados {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.shape {
    position: absolute;
}

.shape-1 {
    font-size: 150px;
    color: #8FD82F;
    top: 30%;
    left: 0;
    animation: float1 8s ease-in-out infinite;
    opacity: .7;
}

.shape-2 {
    font-size: 150px;
    color: #7AB928;
    top: 60%;
    right: 0;
    animation: float2 8s ease-in-out infinite;
    opacity: .7;

}

@keyframes float1 {
    0%, 100% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-70px);
    }
}

@keyframes float2 {
    0%, 100% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(70px);
    }
}

.hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-titulo {
    font-size: 5em;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-subtitulo {
    font-size: 1.5em;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 2.5rem;
}

.hero-p {
    max-width: 100vh;
    font-size: 1.3em;
    font-weight: 300;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.botao-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.botao-contato-hero {
    width: 60%;
    font-size: 24px;
    font-weight: bold;
    background-color: #7AB928;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-contato-hero:hover {
    background-color: #8FD82F;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .container {
        max-height: 50%;
        max-width: 90vh;
    }

    .hero-titulo {
        font-size: 2.5em;
    }

    .hero-subtitulo {
        font-size: 1.2em;
    }

    .hero-p {
        font-size: 1em;
    }

    .botao-hero {
        margin-top: 1.5rem;
    }

    .botao-contato-hero {
        width: 80%;
    }
}

.container-quemsomos {
    max-width: 70vw;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quemsomos-content {
    max-width: 40vw;
}

.quemsomos-titulo {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 16px;
    color: #333;
}

.quemsomos-p {
    font-size: 1.2em;
    font-weight: 400;
    color: #333;
    text-align: justify;
    margin-bottom: 1rem;
}

.quemsomos-botao-content {
    display: flex;
    justify-content: end;
}

.quemsomos-botao {
    border: 3px solid #7AB928;
    padding: 20px 20px;
    border-radius: 16px;
    color: #7AB928;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s;
}

.quemsomos-botao:hover {
    background-color: #7AB928;
    color: white;
    transform: ease-in-out;
}

.quemsomos {
    background-color: #aaf34a67;
    border-radius: 30% 30% 0 0;
    padding: 80px 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

}

@media (max-width: 999px) {
    .container-quemsomos {
        flex-direction: column;
        gap: 1.5rem;
    }

    .quemsomos-content {
        max-width: 100%;
    }

    .quemsomos {
        border-radius: 0;
    }

    .quemsomos-titulo {
        font-size: 2em;
    }

    .quemsomos-p {
        font-size: 1em;
    }

    .quemsomos-botao-content {
        justify-content: center;
    }

    .quemsomos-botao {
        padding: 15px 15px;
        font-size: 16px;
    }
}

.container-produtos, .container-ondeestamos {
    max-width: 90vw;
    margin: 80px auto;
    padding: 1rem;
}

.produtos_ad {
    margin-bottom: 3em;
}

.produtos-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 8px;
}

.produtos-p {
    color: #333;
}

.produtos_section {
    display: flex;
    gap: 1.5rem;
}

.produtos {
    width: 30%;
    max-height: fit-content;
    padding: 20px;
    background-color: hsl(85, 45%, 92%);
    border: 1px solid hsl(85, 38%, 75%);
    border-radius: 8px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produtos-item {
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
    transition: all .5s;
    text-align: center;
}

.produtos-item i {
    font-size: 1.5em;
    color: hsl(85, 32%, 55%);
}

.produtos-item:hover, .produtos-item.active {
    background-color: hsl(85, 38%, 75%);
    transform: ease-in-out;
}

.produtos-content {
    position: relative;
    width: 70%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.carousel_conteiner {
    width: 100%;
    overflow: hidden;
}

.menu-options {
    display: none;
    justify-content: flex-start;
    gap: 3vw;
    padding: 30px;
    background-color: hsl(85, 45%, 92%);
    border: 1px solid hsl(85, 38%, 75%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    background-color: hsl(85, 45%, 92%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.btn:hover, .btn-next:hover {
    background-color: hsl(85, 38%, 75%);
}

.btn {
    left: 50px;
}

.btn-next {
    right: 50px;
}

.prev, .next {
    font-size: 1.5em;
    color: #333;
}

.menu-options.show {
    display: flex;
}

.option {
    width: calc(33.33% - 20px);
    min-width: 29.6%;
    height: 330px;
    display: flex;
    /* margin: 0 1.8vw;
    padding: 6.9vw; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid hsl(85, 38%, 75%);;
    text-align: center;
    color: white;
    transition: all .3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.produto-img {
    max-height: 60%;
    max-width: 60%;
}

.produto-title {
    font-size: 1.5em;
    color: hsl(85, 32%, 55%);
    margin: 24px 0;
}

.produto-p {
    font-size: 1em;
    font-weight: 400;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 999px) {

    .container-produtos {
        max-width: 90vw;
    }
    .menu-options {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .btn, .btn-next {
        display: none;
    }

    .option {
        width: 90%;
        padding: 30px 0;
    }

    .produtos_section {
        flex-direction: column;
    }

    .produtos {
        width: 100%;
    }

    .produtos-content {
        width: 100%;
        padding: 0;
    }

    .produtos-title {
        font-size: 2em;
    }

    .produto-p {
        font-size: 14px;
    }
}

.ondeestamos {
    background-color: #aaf34a67;
    border-radius: 0 0 30% 30%;
    padding: 60px 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 80px;
}

.ondeestamos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 2.5rem;
}

.ondeestamos-title {
    font-size: 3.5em;
    text-align: center;
    color: #333;
    margin-bottom: 16px;
}

.ondeestamos-p {
    color: #333;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 16px;
}

.ondeestamos-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ondeestamos-mapa iframe {
    border-radius: 24px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.ondeestamos-img img {
    width: 150px;
    height: 150px;
}

@media (max-width: 999px) {

    .ondeestamos {
        border-radius: 0
    }
    .ondeestamos-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .ondeestamos-title {
        font-size: 2.5em;
    }

    .ondeestamos-p {
        font-size: 1.2em;
    }

    .ondeestamos-img img {
        width: 150px;
        height: 150px;
    }
    
    .ondeestamos-mapa iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 24px;
    }
}

.footer {
    background-color: #7AB928;
    color: white;
    padding: 100px 100px 30px 100px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-bottom: 2px solid #6ba81b    ;
    padding-bottom: 24px;
}

.footer-info {
    display: flex;
    gap: 5rem;
}

.footer-item a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

.insta {
    margin-right: 8px;
}

.footer-item a:hover {
    color: white;
}

.footer-title {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
}

.footer-p {
    font-size: 1em;
    font-weight: 400;
    color: #333;
}

.footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 24px;
}

@media (max-width: 767px) {
    .footer {
        padding: 50px 50px 30px 50px;
    }

    .footer-info {
        display: block;
    }

    .footer-item {
        margin-bottom: 16px;
    }

    .footer-title {
        font-size: 1.2em;
    }

    .footer-p {
        font-size: 1em;
    }

    .footer-copy p {
        text-align: center;
    }
}


