.App {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #4834d4;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #4834d4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2911ca;
}