* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.conteiner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(46, 76, 209);
    padding: 16px 0;
}

header h1 {
    color: white;
    font-style: italic;
}

nav li {
    float: right;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    color: rgb(8, 17, 59);
}

.sobre-loja {
    margin-top: 32px;
}

.sobre-loja article img {
    max-width: 100%;
    margin-right: 32px;
}

.sobre-loja article {
    display: flex;
    justify-content: center;
}

.titulo-h2 {
    color: rgb(46, 76, 209);
    font-style: italic;
    border-bottom: 3px solid rgb(46, 76, 209);
    margin-bottom: 32px;
    padding-bottom: 16px;
}

section > .titulo-h2 {
    margin-top: 2.5em;
}

.tenis img {
    max-width: 90%;
    box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.54);
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 1%;
    row-gap: 5%;
    margin-bottom: 32px;
}

section .produtos {
    margin-top: 2em;
}

.tenis h3 {
    margin: 32px 0 10px 0
} 

.tenis p {
    font-size: 14px;
    margin-bottom: 10px;
}

.tenis button {
    width: 98%;
    border: none;
    background-color: rgb(46, 76, 209);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.tenis button:hover {
    background-color: rgb(26, 51, 163);
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .conteiner {
        max-width: 90%;
    }
    
    header .conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sobre-loja article img {
        margin-bottom: 32px;
    }
    
    .sobre-loja article {
        display: block;
    }
    
    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        margin-bottom: 32px;
        column-gap: 1%;
        row-gap: 5%;
    }
    
    .tenis img {
        box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.54);
    }

}

@media screen and (max-width: 640px) {
    .conteiner {
        max-width: 80%;
    }

    header .conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sobre-loja article img {
        margin-bottom: 32px;
    }

    .sobre-loja article {
        display: block;
    }

    .produtos {
        display: grid;
        grid-template-columns: 80%;
        row-gap: 3%;
    }

    .tenis button {
        width: 100%;
        border: none;
        background-color: rgb(46, 76, 209);
        padding: 10px;
        color: white;
        cursor: pointer;
    }

    .tenis img {
        width: 100%;
        box-shadow: 10px 10px 35px -15px rgba(0,0,0,0.54);
    }

    .tenis {
        display: grid;
    }

}